@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'colors';
@import './buttons/button-colors';
@import './buttons/button-with-icon';
@import './buttons/rounded-button-with-icon';

@import './header/header-white.css';
@import './header/header-secondary.css';

:root {
    --buttonPrimaryGradient: radial-gradient(
        69.5% 69.5% at 50% 100%,
        theme('colors.primary.200'),
        rgba(138, 108, 255, 0) 87%
    );

    --buttonPrimaryHoverGradient: radial-gradient(
        69.5% 69.5% at 50% 100%,
        theme('colors.primary.100'),
        rgba(138, 108, 255, 0) 87%
    );

    --buttonGrayDarkGradient: radial-gradient(
        69.5% 69.5% at 50% 100%,
        theme('colors.gray.600'),
        rgba(138, 108, 255, 0) 87%
    );

    --buttonGrayDarkHoverGradient: radial-gradient(
        69.5% 69.5% at 50% 100%,
        theme('colors.gray.600'),
        rgba(138, 108, 255, 0) 87%
    );
}

.pt-section {
    @apply pt-20 sm:pt-24 md:pt-28 lg:pt-32;
}

.pb-section {
    @apply pb-20 sm:pb-24 md:pb-28 lg:pb-32;
}

@responsive {
    .offset-header {
        @apply top-[73px] sm:top-[89px];
    }
}

.text-gradient-primary {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(
        -309deg,
        theme('colors.primary.200'),
        theme('colors.primary.300'),
        theme('colors.primary.400'),
        theme('colors.primary.500'),
        #2563eb
    );
}

.text-bold {
    font-weight: 600;
    color: var(--textBoldColor);
}

.text-link {
    font-weight: 600;
    color: var(--textLinkColor);
}

.text-link:hover {
    color: var(--textLinkHoverColor);
}

.text-gradient-primary-dark {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(
        to right,
        theme('colors.primary.400') 28%,
        theme('colors.primary.700') 70%,
        theme('colors.primary.800')
    );
}

.hero-background-image {
    background-image: url('/images/minified/pages/home/hero/hero-mobile2.webp');
}

@media (min-width: 640px) {
    .hero-background-image {
        background-image: url('/images/minified/pages/home/hero/hero2.webp');
    }
}

/* .pattern-star {
    background-size: 26.9rem;
    background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 436 436'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M139.2 115a10 10 0 0 1-10 10 10 10 0 0 1 10 10 10 10 0 0 1 10-10 10 10 0 0 1-10-10M181.4 8.7c0-4.8 3.8-8.6 8.5-8.6l-1.3-.1h-14.5l-1.3.1c4.7 0 8.6 3.8 8.6 8.6m-43 19.9c0 3-2.5 5.6-5.6 5.6 3 0 5.6 2.5 5.6 5.6 0-3.1 2.5-5.6 5.6-5.6a5.6 5.6 0 0 1-5.6-5.6m55.9 147.7a6 6 0 0 1-6 6 6 6 0 0 1 6 6 6 6 0 0 1 6-6 6 6 0 0 1-6-6M154 86.2a8 8 0 0 1-8 8.1 8 8 0 0 1 8 8.1 8 8 0 0 1 8.2-8 8 8 0 0 1-8.1-8.2M97 125a7 7 0 0 1-6.9 7 7 7 0 0 1 7 6.8 7 7 0 0 1 6.9-6.9 7 7 0 0 1-7-7M51.6 89.2c0 4.8-3.9 8.6-8.6 8.6 4.7 0 8.6 3.8 8.6 8.6 0-4.8 3.8-8.6 8.6-8.6a8.6 8.6 0 0 1-8.6-8.6M82 37.1a10 10 0 0 1-10 10 10 10 0 0 1 10 10.1 10 10 0 0 1 10-10 10 10 0 0 1-10-10m10-32A5 5 0 0 1 97 0h-9l-1 .1a5 5 0 0 1 5 5M4.4 47.2q-3-.1-4.4-2.5v5a5 5 0 0 1 4.4-2.5m55.8 115.1a7 7 0 0 1-7.1 7c3.9 0 7 3.3 7 7.2 0-4 3.3-7.1 7.2-7.1a7 7 0 0 1-7.1-7.1m112.6-62.7a6 6 0 0 1-6.1 6 6 6 0 0 1 6 6.2 6 6 0 0 1 6.2-6.1 6 6 0 0 1-6.1-6.1M24.2 5.3c0-2.9 2.4-5.2 5.2-5.2l-1-.1h-8.3l-1 .1c2.8 0 5.1 2.3 5.1 5.2M134 169.4c0 2.8-2.4 5.2-5.2 5.2 2.8 0 5.2 2.3 5.2 5.2 0-3 2.3-5.2 5.2-5.2a5 5 0 0 1-5.2-5.2M29.4 64.1c0 2.9-2.3 5.2-5.2 5.2 3 0 5.2 2.3 5.2 5.2 0-2.9 2.3-5.2 5.2-5.2a5 5 0 0 1-5.2-5.2m75.2-6.1a6 6 0 0 1-6 6.1 6 6 0 0 1 6 6.1 6 6 0 0 1 6.1-6 6 6 0 0 1-6-6.2m-86.5 77.9a6 6 0 0 1-6.1 6 6 6 0 0 1 6 6.1 6 6 0 0 1 6.1-6 6 6 0 0 1-6-6.1m.8 45.2a7 7 0 0 1-7 7.2 7 7 0 0 1 7 7c0-3.9 3.3-7 7.2-7a7 7 0 0 1-7.1-7.2M188.3 58a6 6 0 0 1-6 6.1 6 6 0 0 1 6 6.1 6 6 0 0 1 6.1-6 6 6 0 0 1-6-6.2m17.4 80.8a6 6 0 0 1-6 6.1 6 6 0 0 1 6 6.1 6 6 0 0 1 6.1-6 6 6 0 0 1-6-6.2M221 97.3a5 5 0 0 1-5 5.1 5 5 0 0 1 5 5.1c0-2.8 2.4-5 5.2-5a5 5 0 0 1-5.1-5.2M115.9 183c0 3-2.3 5.3-5.2 5.3 2.9 0 5.2 2.3 5.2 5.1 0-2.8 2.3-5.1 5.2-5.1a5 5 0 0 1-5.2-5.2' fill='%231e40af' fill-opacity='0.2' /%3E%3Cpath d='M56.9 138.1c0 2.1-1.7 3.8-3.8 3.8a4 4 0 0 1 3.8 3.9c0-2.1 1.7-3.9 3.8-3.9a4 4 0 0 1-3.8-3.8M46.8 24.8c0 2-1.7 3.8-3.8 3.8 2 0 3.8 1.6 3.8 3.7 0-2 1.7-3.7 3.7-3.7-2 0-3.7-1.7-3.7-3.8m115.4 168.6c0 2.2-1.8 3.9-3.9 3.9 2.1 0 3.9 1.7 3.9 3.8 0-2.1 1.7-3.8 3.8-3.8a4 4 0 0 1-3.8-3.9m-92.8 3.9c0 2.1-1.7 3.8-3.9 3.8 2.2 0 3.9 1.7 3.9 3.8 0-2 1.7-3.8 3.8-3.8a4 4 0 0 1-3.8-3.8' fill='%23fff' /%3E%3Cpath d='M357.2 115a10 10 0 0 1-10 10 10 10 0 0 1 10 10 10 10 0 0 1 10-10 10 10 0 0 1-10-10M399.4 8.7c0-4.8 3.8-8.6 8.5-8.6l-1.3-.1h-14.5l-1.3.1c4.7 0 8.6 3.8 8.6 8.6m-43 19.9c0 3-2.5 5.6-5.6 5.6 3 0 5.6 2.5 5.6 5.6 0-3.1 2.5-5.6 5.6-5.6a5.6 5.6 0 0 1-5.6-5.6m55.9 147.7a6 6 0 0 1-6 6 6 6 0 0 1 6 6 6 6 0 0 1 6-6 6 6 0 0 1-6-6M372 86.2a8 8 0 0 1-8 8.1 8 8 0 0 1 8 8.1 8 8 0 0 1 8.2-8 8 8 0 0 1-8.1-8.2M315 125a7 7 0 0 1-6.9 7 7 7 0 0 1 7 6.8 7 7 0 0 1 6.9-6.9 7 7 0 0 1-7-7m-45.4-35.7c0 4.8-3.9 8.6-8.6 8.6 4.7 0 8.6 3.8 8.6 8.6 0-4.8 3.8-8.6 8.6-8.6a8.6 8.6 0 0 1-8.6-8.6M300 37.1a10 10 0 0 1-10 10 10 10 0 0 1 10 10.1 10 10 0 0 1 10-10 10 10 0 0 1-10-10m10-32a5 5 0 0 1 5-5.1l-1-.1h-8l-1 .1a5 5 0 0 1 5 5M217.2 42c0 2.9-2.3 5.2-5 5.2 2.7 0 5 2.3 5 5.1 0-2.8 2.3-5.1 5.2-5.1a5 5 0 0 1-5.2-5.1m61 120.2a7 7 0 0 1-7.1 7c3.9 0 7 3.3 7 7.2 0-4 3.3-7.1 7.2-7.1a7 7 0 0 1-7.1-7.1m112.6-62.7a6 6 0 0 1-6.1 6 6 6 0 0 1 6 6.2 6 6 0 0 1 6.2-6.1 6 6 0 0 1-6.1-6.1M242.3 5.3c0-2.9 2.3-5.2 5.1-5.2l-1-.1h-8.3l-1 .1c2.8 0 5.2 2.3 5.2 5.2m-60.9 422.2c0 4.3-3.2 7.9-7.3 8.5h14.5a8.6 8.6 0 0 1-7.2-8.5M92 431a5 5 0 0 1-4 5h8a5 5 0 0 1-4-5m-67.8 0c0 2.4-1.7 4.5-4.1 5h8.3a5 5 0 0 1-4.2-5m375.2-3.5c0 4.3-3.2 7.9-7.3 8.5h14.5a8.6 8.6 0 0 1-7.2-8.5M310 431a5 5 0 0 1-4 5h8a5 5 0 0 1-4-5m-67.7 0c0 2.4-1.8 4.5-4.2 5h8.3a5 5 0 0 1-4.2-5M352 169.4c0 2.8-2.4 5.2-5.2 5.2 2.8 0 5.2 2.3 5.2 5.2 0-3 2.3-5.2 5.2-5.2a5 5 0 0 1-5.2-5.2M247.4 64.1c0 2.9-2.3 5.2-5.2 5.2 3 0 5.2 2.3 5.2 5.2 0-2.9 2.3-5.2 5.2-5.2a5 5 0 0 1-5.2-5.2m75.2-6.1a6 6 0 0 1-6 6.1 6 6 0 0 1 6 6.1 6 6 0 0 1 6.1-6 6 6 0 0 1-6-6.2m-86.5 77.9a6 6 0 0 1-6.1 6 6 6 0 0 1 6 6.1 6 6 0 0 1 6.2-6 6 6 0 0 1-6.1-6.1m.8 45.2a7 7 0 0 1-7 7.2 7 7 0 0 1 7 7c0-3.9 3.3-7 7.2-7a7 7 0 0 1-7.1-7.2M406.3 58a6 6 0 0 1-6 6.1 6 6 0 0 1 6 6.1 6 6 0 0 1 6.1-6 6 6 0 0 1-6-6.2m17.4 80.8a6 6 0 0 1-6 6.1 6 6 0 0 1 6 6.1 6 6 0 0 1 6.1-6 6 6 0 0 1-6-6.2m10.1-36.4q1 0 2 .4v-.8q-1 .4-2 .4M333.9 183c0 3-2.3 5.3-5.2 5.3 2.9 0 5.2 2.3 5.2 5.1 0-2.8 2.3-5.1 5.2-5.1a5 5 0 0 1-5.2-5.2' fill='%231e40af' fill-opacity='0.2' /%3E%3Cpath d='M274.9 138.1c0 2.1-1.7 3.8-3.8 3.8a4 4 0 0 1 3.8 3.9c0-2.1 1.7-3.9 3.8-3.9a4 4 0 0 1-3.8-3.8M264.8 24.8c0 2-1.7 3.8-3.8 3.8 2 0 3.8 1.6 3.8 3.7 0-2 1.7-3.7 3.7-3.7-2 0-3.7-1.7-3.7-3.8m115.4 168.6c0 2.2-1.8 3.9-3.9 3.9 2.1 0 3.9 1.7 3.9 3.8 0-2.1 1.7-3.8 3.8-3.8a4 4 0 0 1-3.8-3.9m-92.8 3.9c0 2.1-1.7 3.8-3.9 3.8 2.2 0 3.9 1.7 3.9 3.8 0-2 1.7-3.8 3.8-3.8a4 4 0 0 1-3.8-3.8' fill='%2338bdf8' /%3E%3Cpath d='M139.2 333a10 10 0 0 1-10 10 10 10 0 0 1 10 10 10 10 0 0 1 10-10 10 10 0 0 1-10-10m42.2-123.5c0 4.8-3.9 8.6-8.6 8.6 4.7 0 8.6 3.8 8.6 8.6 0-4.8 3.8-8.6 8.5-8.6a8.6 8.6 0 0 1-8.5-8.6m-43 37.1c0 3-2.5 5.6-5.6 5.6 3 0 5.6 2.5 5.6 5.6 0-3.1 2.5-5.6 5.6-5.6a5.6 5.6 0 0 1-5.6-5.6m55.9 147.7a6 6 0 0 1-6 6 6 6 0 0 1 6 6 6 6 0 0 1 6-6 6 6 0 0 1-6-6M154 304.2a8 8 0 0 1-8 8.1 8 8 0 0 1 8 8.1 8 8 0 0 1 8.2-8 8 8 0 0 1-8.1-8.2M97 343a7 7 0 0 1-6.9 7 7 7 0 0 1 7 6.8 7 7 0 0 1 6.9-6.9 7 7 0 0 1-7-7m-45.4-35.7c0 4.8-3.9 8.6-8.6 8.6 4.7 0 8.6 3.8 8.6 8.6 0-4.8 3.8-8.6 8.6-8.6a8.6 8.6 0 0 1-8.6-8.6M82 255.1a10 10 0 0 1-10 10 10 10 0 0 1 10 10.1 10 10 0 0 1 10-10 10 10 0 0 1-10-10M92 213a5 5 0 0 1-5 5.1 5 5 0 0 1 5 5 5 5 0 0 1 5-5 5 5 0 0 1-5-5M4.4 265.2q-3-.1-4.4-2.5v5a5 5 0 0 1 4.4-2.5M435.2 42c0 2.9-2.3 5.2-5 5.2 2.7 0 5 2.3 5 5.1q0-1.5.8-2.7v-4.9q-.8-1.2-.8-2.6m0 217.9c0 2.9-2.3 5.2-5 5.2 2.7 0 5 2.3 5 5.1q0-1.5.8-2.7v-4.9q-.8-1.1-.8-2.6m-375 120.2a7 7 0 0 1-7.1 7c3.9 0 7 3.3 7 7.2 0-4 3.3-7.1 7.2-7.1a7 7 0 0 1-7.1-7.1m112.6-62.7a6 6 0 0 1-6.1 6 6 6 0 0 1 6 6.2 6 6 0 0 1 6.2-6.1 6 6 0 0 1-6.1-6.1M24.2 213c0 2.8-2.3 5.1-5.1 5.1 2.8 0 5.1 2.3 5.1 5.2 0-2.9 2.4-5.2 5.2-5.2a5 5 0 0 1-5.2-5.2M134 387.4c0 2.8-2.4 5.2-5.2 5.2 2.8 0 5.2 2.3 5.2 5.1 0-2.8 2.3-5.1 5.2-5.1a5 5 0 0 1-5.2-5.2M29.4 282.1c0 2.9-2.3 5.2-5.2 5.2 3 0 5.2 2.3 5.2 5.2 0-2.9 2.3-5.2 5.2-5.2a5 5 0 0 1-5.2-5.2m75.2-6.1a6 6 0 0 1-6 6.1 6 6 0 0 1 6 6.1 6 6 0 0 1 6.1-6 6 6 0 0 1-6-6.2m-86.5 77.9a6 6 0 0 1-6.1 6 6 6 0 0 1 6 6.1 6 6 0 0 1 6.1-6 6 6 0 0 1-6-6.1m.8 45.2a7 7 0 0 1-7 7.2 7 7 0 0 1 7 7c0-3.9 3.3-7 7.2-7a7 7 0 0 1-7.1-7.2M188.3 276a6 6 0 0 1-6 6.1 6 6 0 0 1 6 6.1 6 6 0 0 1 6.1-6 6 6 0 0 1-6-6.2m17.4 80.8a6 6 0 0 1-6 6.1 6 6 0 0 1 6 6.1 6 6 0 0 1 6.1-6 6 6 0 0 1-6-6.2m15.1-41.5a5 5 0 0 1-5 5.1 5 5 0 0 1 5 5.1c0-2.8 2.4-5 5.2-5a5 5 0 0 1-5.1-5.2M115.9 401c0 3-2.3 5.3-5.2 5.3 2.9 0 5.2 2.3 5.2 5.1 0-2.8 2.3-5.1 5.2-5.1a5 5 0 0 1-5.2-5.2' fill='%231e40af' fill-opacity='0.2' /%3E%3Cpath d='M56.9 356.1c0 2.1-1.7 3.8-3.8 3.8a4 4 0 0 1 3.8 3.9c0-2.1 1.7-3.9 3.8-3.9a4 4 0 0 1-3.8-3.8M46.8 242.8c0 2-1.7 3.8-3.8 3.8 2 0 3.8 1.7 3.8 3.7 0-2 1.7-3.7 3.7-3.7-2 0-3.7-1.7-3.7-3.8m115.4 168.6c0 2.2-1.8 3.9-3.9 3.9 2.1 0 3.9 1.7 3.9 3.8 0-2.1 1.7-3.8 3.8-3.8a4 4 0 0 1-3.8-3.9m-92.8 3.9c0 2.1-1.7 3.8-3.9 3.8 2.2 0 3.9 1.7 3.9 3.8 0-2 1.7-3.8 3.8-3.8a4 4 0 0 1-3.8-3.8' fill='%2338bdf8' /%3E%3Cpath d='M357.2 333a10 10 0 0 1-10 10 10 10 0 0 1 10 10 10 10 0 0 1 10-10 10 10 0 0 1-10-10m42.2-123.5c0 4.8-3.9 8.6-8.6 8.6 4.7 0 8.6 3.8 8.6 8.6 0-4.8 3.8-8.6 8.5-8.6a8.6 8.6 0 0 1-8.5-8.6m-43 37.1c0 3-2.5 5.6-5.6 5.6 3 0 5.6 2.5 5.6 5.6 0-3.1 2.5-5.6 5.6-5.6a5.6 5.6 0 0 1-5.6-5.6m55.9 147.7a6 6 0 0 1-6 6 6 6 0 0 1 6 6 6 6 0 0 1 6-6 6 6 0 0 1-6-6M372 304.2a8 8 0 0 1-8 8.1 8 8 0 0 1 8 8.1 8 8 0 0 1 8.2-8 8 8 0 0 1-8.1-8.2M315 343a7 7 0 0 1-6.9 7 7 7 0 0 1 7 6.8 7 7 0 0 1 6.9-6.9 7 7 0 0 1-7-7m-45.4-35.7c0 4.8-3.9 8.6-8.6 8.6 4.7 0 8.6 3.8 8.6 8.6 0-4.8 3.8-8.6 8.6-8.6a8.6 8.6 0 0 1-8.6-8.6m30.4-52.1a10 10 0 0 1-10 10 10 10 0 0 1 10 10.1 10 10 0 0 1 10-10 10 10 0 0 1-10-10m10-42.2a5 5 0 0 1-5 5.1 5 5 0 0 1 5 5 5 5 0 0 1 5-5 5 5 0 0 1-5-5M217.2 260c0 2.9-2.3 5.2-5 5.2 2.7 0 5 2.3 5 5.1 0-2.8 2.3-5.1 5.2-5.1a5 5 0 0 1-5.2-5.1m61 120.2a7 7 0 0 1-7.1 7c3.9 0 7 3.3 7 7.2 0-4 3.3-7.1 7.2-7.1a7 7 0 0 1-7.1-7.1m112.6-62.7a6 6 0 0 1-6.1 6 6 6 0 0 1 6 6.2 6 6 0 0 1 6.2-6.1 6 6 0 0 1-6.1-6.1M242.3 213c0 2.8-2.4 5.1-5.2 5.1 2.8 0 5.2 2.3 5.2 5.2 0-2.9 2.3-5.2 5.1-5.2a5 5 0 0 1-5.2-5.2M352 387.4c0 2.8-2.4 5.2-5.2 5.2 2.8 0 5.2 2.3 5.2 5.1 0-2.8 2.3-5.1 5.2-5.1a5 5 0 0 1-5.2-5.2M247.4 282.1c0 2.9-2.3 5.2-5.2 5.2 3 0 5.2 2.3 5.2 5.2 0-2.9 2.3-5.2 5.2-5.2a5 5 0 0 1-5.2-5.2m75.2-6.1a6 6 0 0 1-6 6.1 6 6 0 0 1 6 6.1 6 6 0 0 1 6.1-6 6 6 0 0 1-6-6.2m-86.5 77.9a6 6 0 0 1-6.1 6 6 6 0 0 1 6 6.1 6 6 0 0 1 6.2-6 6 6 0 0 1-6.1-6.1m.8 45.2a7 7 0 0 1-7 7.2 7 7 0 0 1 7 7c0-3.9 3.3-7 7.2-7a7 7 0 0 1-7.1-7.2M406.3 276a6 6 0 0 1-6 6.1 6 6 0 0 1 6 6.1 6 6 0 0 1 6.1-6 6 6 0 0 1-6-6.2m17.4 80.8a6 6 0 0 1-6 6.1 6 6 0 0 1 6 6.1 6 6 0 0 1 6.1-6 6 6 0 0 1-6-6.2m10.1-36.4q1 0 2 .4v-.8q-1 .4-2 .4M333.9 401c0 3-2.3 5.3-5.2 5.3 2.9 0 5.2 2.3 5.2 5.1 0-2.8 2.3-5.1 5.2-5.1a5 5 0 0 1-5.2-5.2' fill='%231e40af' fill-opacity='0.2' /%3E%3Cpath d='M274.9 356.1c0 2.1-1.7 3.8-3.8 3.8a4 4 0 0 1 3.8 3.9c0-2.1 1.7-3.9 3.8-3.9a4 4 0 0 1-3.8-3.8m-10.1-113.3c0 2-1.7 3.8-3.8 3.8 2 0 3.8 1.7 3.8 3.7 0-2 1.7-3.7 3.7-3.7-2 0-3.7-1.7-3.7-3.8m115.4 168.6c0 2.2-1.8 3.9-3.9 3.9 2.1 0 3.9 1.7 3.9 3.8 0-2.1 1.7-3.8 3.8-3.8a4 4 0 0 1-3.8-3.9m-92.8 3.9c0 2.1-1.7 3.8-3.9 3.8 2.2 0 3.9 1.7 3.9 3.8 0-2 1.7-3.8 3.8-3.8a4 4 0 0 1-3.8-3.8' fill='%2338bdf8' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h436v436H0z' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
} */
  
/* .pattern-footer {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231e40af' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
} */

.gradient-primary {
    background-image: radial-gradient(
        650px circle at center center, 
        rgba(30, 64, 175, 0.4),
        transparent 40%);
}

/* @keyframes move-twinkling-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.bg-stars {
    background: #172554 url('/images/minified/global/stars.webp') repeat top center;
    z-index:-30;
}

.bg-twinkling{
    background:transparent url('/images/minified/global/twinkling.webp') repeat top center;
    z-index:-20;
    animation:move-twinkling-back 200s linear infinite;
} */

.pattern-bubbles-primary-light {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23bae6fd' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.pattern-logo-secondary-dark {
    background-image: url('/images/minified/global/pattern-logo-secondary-dark.webp');
}
.pattern-logo-white {
    background-image: url('/images/minified/global/pattern-logo-white.webp');
}
